.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my css */

.banner-card{
  width: 99;
}

.banner-img{
  height: 80vh;
  width: 100%;
}

.banner-title{
  position:absolute;
  top:60vh;
  color:white;
  font-weight: bold;
  margin-left: 2rem;
}

.banner-text{
  position: absolute;
  top:68vh;
  color:white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.movies-list{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.movie-card{
  width:20vw;
  margin: 1rem;
  position: relative;
}

.movie-title{
  position: absolute;
  top:1rem;
  left:1rem;
  color:white;
}

.movie-button{
  position: absolute;
  top:80%;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}


@media screen and (max-width:400px){

  .banner-card{
    height:35vh;
  }

  .banner-img{
    height: 35vh; 
  } 

  .banner-title{
    top:5vh;
    left:5vw;
  }

  .banner-text{
    top:15vh;
    left:5vw;
  } 

}


